* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

/*  NAVBAR-STYLES */
.navbar-container {
  height: 80px;
  width: 100%;
  background-color: darkblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;

}
.logo{
   font-weight: 900;
   font-size: 30px;

}

.nav-links>a{
 margin: 5px 10px;
 font-weight: 600;
 padding: 5px 10px;
 border-radius: 4px;
 transition: 0.2s;
}

.nav-links>a:hover{
    background-color: white;
    color: black;
}

/* HERO-CONTAINER -STYLE */
.hero-container{
    height: calc(100vh - 80px);
    width: 100%;
    
}
.hero-container>header>h1{
    text-align: center;
    font-size: 80px;
    margin-top: 250px;
}
.hero-container>p{
    text-align: center;
    padding: 10px 50px;
    width: 70vw;
    margin: 20px auto;
}

.btn-container{
    display: flex;
    justify-content: center;
}
.btn-container>button{
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 8px;
    background-color: darkblue;
    color: white;
}